<md-toolbar color="primary">

    <button md-button routerLink="/">
        <md-icon>home</md-icon> 
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <div ><!-- *ngIf="auth.isAuthenticated()" -->
            <button md-button routerLink="/home">{{'toolbar.btn-home' | translate}}</button>
            <button md-button routerLink="/counter">{{'toolbar.btn-rating' | translate}}</button>
            <button md-button routerLink="/fetch-data">{{'toolbar.btn-users' | translate}}</button>
            <button md-button >{{'toolbar.log-out' | translate}}</button>
        </div>
        <div ><!-- *ngIf="!auth.isAuthenticated()" -->
            <button md-button  >{{'toolbar.log-in' | translate}}</button>
        </div>
    </div>
    <div class="language-btn">
        <a (click)="switchLanguage('en')"> <img class="en-lang-btn"/></a>
        <!--<button class="en-lang-btn" ></button>-->
        <a (click)="switchLanguage('bg')"> <img class="bg-lang-btn"/></a>
        <!--<button class="bg-lang-btn" ></button>-->
    </div>
    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
    </button>
    

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <div ><!-- *ngIf="auth.isAuthenticated()" -->
        <button class="menuBtn" fxLayoutAlign="center" md-button routerLink="/home">{{'toolbar.btn-home' | translate}}</button>
        <button class="menuBtn" fxLayoutAlign="center" md-button routerLink="/counter">{{'toolbar.btn-rating' | translate}}</button>
        <button class="menuBtn" fxLayoutAlign="center" md-button routerLink="/fetch-data">{{'toolbar.btn-users' | translate}}</button>
        <button class="menuBtn" fxLayoutAlign="center" md-button >{{'toolbar.log-out' | translate}}</button>
    </div>
     <div ><!--*ngIf="!auth.isAuthenticated()" -->
        <button class="menuBtn" fxLayoutAlign="center" md-button >{{'toolbar.log-in' | translate}}</button>
    </div>
</md-menu>

<div class='col-sm-9 body-content'>
    <router-outlet></router-outlet>
</div>